body {
  background-image: url('C:\\Users\\Dajana\\OneDrive\\Desktop\\web 2\\web2-projekat\\online-shop-web-app\\public\\pexels-photo-3255761.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
